<div id="hhh">
    <h1>Welcome!</h1>
<div id="me">
    
    <pre>
        <h3>
        Hello, my name is Musa. I am an aspiring web developer,
        <br>
        I like playing rugby in my spare time and catch movies with friends. 
        <br>
        This is my portfolio about my programming journey.
        <br>
                             Lets go!
        </h3>

    </pre>
    <img id="pic" src="/../assets/pix/IMG_8172.JPG" alt="">
</div>
</div>
<button><a href="page1">Portfolio</a></button>