<!-- <nav>
    <a href="">Logo</a>
    <ul>
        <a href=""><li>1</li></a>
        <a href=""><li>2</li></a>
        <a href=""><li>3</li></a>
        
    </ul>
</nav> -->

<div id="hhh">
        <h2>My Calculator</h2>
    <div class="pix">
        <a href="https://musawenkosi305.github.io/Calculator/"><img id="pic" src="/../assets/pix/Screenshot 2025-05-19 at 17.13.43.png" alt=""></a>

    </div>
    <hr>

    <h2><p>My Form</p></h2>
        <div class="pix">
        <a href=""><img id="pic1" src="/../assets/pix/Screenshot 2025-05-19 at 17.37.43.png" alt=""></a>
        <img id="pic1" src="/../assets/pix/Screenshot 2025-05-19 at 17.48.36.png" alt="">
    </div>
    <hr>
    
    <h2><p>QuizApp</p></h2>
    <div>
        <a href=""><img id="pic2" src="/../assets/pix/Screenshot 2025-05-19 at 18.05.40.png" alt=""></a>
        <img id="pic2" src="/../assets/pix/Screenshot 2025-05-19 at 18.04.59.png" alt="">
    </div>
    <hr>

    <h2><p>Tic-tac-toe</p></h2>
    <div>
        <img id="pic3" src="/../assets/pix/Screenshot 2025-05-19 at 18.22.29.png" alt="">
    </div>
    <hr>

    <h2><p>Web Dev</p></h2>
    <div>
        <img id="pic4" src="/../assets/pix/Screenshot 2025-05-19 at 22.53.37.png" alt="">
    </div>
    <hr>

    <h2><p>Memory Game</p></h2>
    <div>
        <a href="https://bootcampmemorygame.web.app/"><img id="pic5" src="/../assets/pix/Screenshot 2025-05-19 at 23.10.49.png" alt=""></a>
    </div>
    <hr>

    <h2><p>Final Project</p></h2>
    <div>
        <a href="https://musawenkosi305.github.io/Bootcamp_final_project/"><img id="pic6" src="/../assets/pix/Screenshot 2025-05-19 at 23.15.27.png" alt=""></a>
    </div>
</div>